*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: content-box; */
    font-family: sans-serif;
}

body{
    
}

nav{
display: flex;
align-items: center; 
gap: 50%;
justify-content: space-around;
margin-top: 10px;
margin: 10px 50px;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 26px;
    
    /* text-decoration: none; */
}

a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 600;

}
.aClas{
    color:rgb(7, 192, 130);
}
main{
    display: flex;
    margin: auto 50px;
    margin-top: 75px;
    margin-right: 60px;
}
.left-part{
width: 40%;
line-height: 40px;

}
.right-part{
display: flex;

}

.btn{
    background-color: rgb(7, 192, 130);
    padding: 25px;
    padding-left: 70px;
    padding-right: 70px;
    border: none;
    border-radius: 50px;
    color: #353535;
    font-weight: 600;
    font-size: 30px;

}
.mouse{
    position: absolute;
    left: 450px;
    bottom: 100px;
}
.bottom-angle{
    position: absolute;
    left: 500px;
    bottom: 100px;

}
.right-part img{
    position: absolute;
}


.yellowbox{
    z-index: 1;
    position: absolute;
    top: 300px;
    
}
.doctor{
    z-index: 2;
    position: absolute;
    top: 100px;
}
.greenbox{
    z-index: -1;
    position: absolute;
    top: 300px;
}