*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: content-box; */
    font-family: sans-serif;
}

body{
    
}

nav{
display: flex;
align-items: center; 
gap: 50%;
justify-content: space-around;
margin-top: 10px;
margin: 10px 50px;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 26px;
    
    /* text-decoration: none; */
}

a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 600;

}
.aClas{
    color:rgb(7, 192, 130);
}
main{
    display: flex;
    margin: auto 50px;
    margin-top: 75px;
    margin-right: -583px;
    gap: 15%;
    width: 57%;
}
.left-part{
/* width: 40%; */
line-height: 29px;

}
.left-part h1{
    font-size: 80px;
    line-height: 100px;
}
.left-part p{
    color:grey;
}
.right-part{
/* display: flex; */
    /* width: 50%; */
    /* align-items: right; */


}

.btn{
    margin-top: 20px;
    background-color: rgb(7, 192, 130);
    padding: 25px;
    padding-left: 70px;
    padding-right: 70px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: 30px;

}
.mouse{
    position: absolute;
    left: 700px;
    bottom: 50px;
}
.bottom-angle{
    position: absolute;
    left: 650px;
    bottom: 90px;

}
.right-part img{
    position: absolute;
    width: 500px;
    /* height: 700px; */
}


.yellowbox{
    z-index: 1;
    position: absolute;
    top: 250px;
    
}
.doctor{
    z-index: 2;
    position: absolute;
    top: 50px;
}
.greenbox{
    z-index: -1;
    position: absolute;
    top: 250px;
}